<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <script src="behaviors.js"></script>
    </head>
    <body>
        <header>
            <h1>TCL-?? Pairing Practice</h1>
        </header>
        <main>
            <section>
                <h2>Pair 1: [name] & [name]</h2>
                <form data-input-name="print-even-numbers">
                    <button>Show result</button>
                    <label>
                        <textarea name="print-even-numbers"></textarea>
                    </label>
                </form>
            </section>
            <section>
                <h2>Pair 2: [name] & [name]</h2>
                <form data-input-name="print-sum">
                    <button>Show result</button>
                    <label>
                        <textarea name="print-sum"></textarea>
                    </label>
                </form>
            </section>
        </main>
        <footer>
            <p><a href="index.html">Reload</a></p>
        </footer>
    </body>
</html>
