body {
    font: 16px/1.5 sans-serif;
    margin: 0;
    padding: 0 2rem;
}

section {
    float: left;
    margin-right: 1rem;
}

footer {
    clear: both;
}

label {
    display: block;
    margin: 1rem 0;
}

textarea {
    height: 50vh;
    width: 25vw;
}
